@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import "tailwindcss";

:root {
  --color-primaryPurple: #432F70;
  --color-secondaryCream: #F9F5EF;
  --font-body: 'Jersey 15';
}

body {
  font-family: var(--font-body);
  color: var(--color-secondaryCream);
  font-weight: 400;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-body);
}

.bg-backgroundPurple {
  background-color: var(--color-primaryPurple);
}

.text-fontPurple {
  color: var(--color-primaryPurple);
}

.text-fontCream {
  color: var(--color-secondaryCream);
}

.bg-backgroundCream {
  background-color: var(--color-secondaryCream);
}